# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes Credentials & Secrets
**/kubeconfig.yaml
**/kubeconfig
**/*.pem
**/*.key
**/*.crt

# Go Binaries & Build Files
**/books-api/books-api
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# macOS / OS Files
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo
